.page-services{
  position: relative;
}

.page-services .content-text{
  padding-left: 40px;
  min-height: 680px;
}

.page-services .content-text p{
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 24px;
  color: #909090;
  padding-right: 38%;
}

.page-services .content-text p small{
  font-size: 0.9em;
  line-height: 1.05555555556;
}

.page-services .content-text ul{
  margin-bottom: 60px;
}

.page-services .content-text li{
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 1px;
  color: #605f5f;
}

.page-services .content-text li:before{
  content: '-';
  padding-right: 15px;
}

.page-services .content-text p:nth-child(1){
  margin-top: 130px;
  color: #3a3a3a;
}
.page-services .content-text p:nth-child(1) img.alignright{
  position: absolute;
  right: 0;
  margin-top: -80px;
  max-width: 280px;
  width: 30%;
  float: none;
}

.page-services .content-text p:nth-child(2){
  color: #474747;
}

.page-services .content-text p:nth-child(3){
  color: #605f5f;
}

@media (max-width: 1024px){
  .page-services .content-text p:nth-child(1){
    margin-top: 50px;
  }
  .page-services .content-text{
    padding-left: 20px;
  }
  .page-services .content-text p:nth-child(1) img.alignright{
    margin-top: -40px;
    right: 10px;
  }
}
@media (max-width: 979px){
  .page-services .content-text{
    padding-left: 10px;
  }

  .page-services .content-text{
    min-height: 600px;
  }
}

@media (max-width: 767px){
  .page-services .content-text p:nth-child(1){
    margin-top: 10px;
  }
  .page-services .content-text p:nth-child(1) img.alignright{
    margin-top: -20px;
  }
  .page-services .content-text p{
    padding-right: 40%;
  }

  .page-services .content-text{
    min-height: 500px;
  }
}