body .contact-page-height{
  position: absolute;
}

.contact-page-height{
  display: block;
  left: 0;
  top: 50%;
  width: 100%;
  height: 400px;
  margin-top: -200px;
  overflow: hidden;
}

@media (max-height: 650px){
  .page-contact{
    position: relative;
    margin: 0 auto !important;
    top: 0;
    left: 0;
  }
}

.page-contact .contact-background{
  position: absolute;
  color: #999;
  font-size: 28em;
  text-transform: uppercase;
  text-align: right;
  line-height: 1;
  padding-top: 170px;
}

.page-contact .contact-background em{
  position: absolute;
  font-family: 'ChaletNewYork', helvetica, arial, sans-serif;
  font-style: normal;
  color: #fff;
  top: 0;
  left: -80px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter:alpha(opacity=30);
  -moz-opacity: 0.3;
  opacity: 0.3;
}
.page-contact .contact-background span{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter:alpha(opacity=20);
  -moz-opacity: 0.2;
  opacity: 0.2;
  position: relative;
  right: -80px;
}

.page-contact .contact-foreground{
  position: relative;
  padding-top: 120px;
  padding-bottom: 100px;
  color: #727473;
}

.page-contact .contact-foreground h1{
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 25px;
}

.page-contact .contact-foreground h1 em,
.page-contact .contact-foreground p{
  font-family: 'ChaletNewYork', helvetica, arial, sans-serif;
  font-style: normal;
}

.page-contact .contact-foreground p{
  font-size: 1.5em;
  margin-bottom: 10px;
}

.page-contact .contact-foreground a{
  color: #333436;
}

.page-contact .contact-foreground a:hover{
  color: #fff;
}