.navbar .navbar-inner{
  background: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 5px;
}

.navbar .nav{
  margin: 0;
  float: none;
}

.navbar .nav > li{
  float: none;
  display: inline-block;
  margin: 0;
  position: relative;
  left: 10px;
}

.navbar .nav > li.nav-nous{
  width: 28%;
}

.navbar .nav > li.nav-services{
  width: 21.5%;
}

.navbar .nav > li.nav-projects{
  width: 22%;
}

.navbar .nav > li.nav-contact{
  width: 25%;
}

.navbar .nav > li > a{
  padding: 5px 0px;
  font-family: 'ChaletNewYork', helvetica, arial, sans-serif;
  font-size: 100%;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: none;
  -moz-transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.navbar .nav > li.nav-nous > a{
  color: #696a69;
}
.navbar .nav > li.nav-services > a{
  color: #909090;
}
.navbar .nav > li.nav-projects > a{
  color: #aeacac;
}
.navbar .nav > li.nav-contact > a{
  color: #e5e5e5;
}

.page-template-page-nousdesign-php .navbar .nav > li.nav-nous a,
.page-template-page-services-php .navbar .nav > li.nav-services a,
.page-template-page-projects-php .navbar .nav > li.nav-projects a,
.page-template-page-contact-php .navbar .nav > li.nav-contact a,
.navbar .nav > li.active a,
.navbar .nav > li > a:hover{
  color: #fff !important;
}

.navbar .brand{
  display: none;
}

#footer ul{
  position: relative;
  top: 20px;
  display: inline;
}

#footer li{
  display: inline-block;
  margin-right: 20%;
}

#footer li.last-child{
  margin-right: 0;
}

#footer li a{
  color: #a0a1a0;
  font-family: 'Avenir', helvetica, arial, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  padding: 5px;
}

#footer li a:hover{
  color: #fff;
}